@font-face {
    font-family: 'MinecraftTen';
    src: url(fonts/MinecraftTen.otf);
}

body {
    font-family: "MinecraftTen";
}

p {
	margin: 0;
	padding: 0;
}

.list {
	display: flex;
	position: relative;
	margin-top: 2%;
	width: 100%;
	height: 16%;
}

.screenBox {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	position: absolute;
	flex-direction: column;
	top: 0;
	left: 0;
	font-size: 10px;
	background-position: center;
}
.Box1 {
	height: 60vh;
	width: 60vw;
	background:#fff;
	position: relative;
	flex-direction: column;
	top: 0;
	left: 0;
	font-size: 10px;
	top: 45vh;
	box-shadow:0px 0px 5px #000;
}
.Box2 {
	height: 92%;
	width: 100%;
	background:#fff;
	top: 8%;
	font-size: 10px;
	justify-content: center;
	align-items: center;
	position: absolute;
	flex-direction: column;
	font-size: 10px;
	background-position: center;
}
.Top {
	width: 100%;
	height: 5%;
	background-color: #8BC34A;
	box-shadow:0px 1px 1px #000;
}
#_exit{
	font-size: 22px;
	position: absolute;
	right: 16px;
}
.title {
	font-size: 24px;
	position: absolute;
	left: 45%;
}
.postext {
	position: absolute;
	left: 16px;
	font-size: 22px;
}
.buttons {
	position: absolute;
	right: 16px;
	display: flex;
}
button {
	box-shadow:0px 0px 5px #000;
	background-color: #8BC34A;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 4px;
	display: flex;
	border: 1px solid #8b8b8b;
	font-family: 'MinecraftTen';
	font-size: 18px;
}
